@import 'reset';

h1 {
	font: bold 50px/1 'arial';
	color: #333;
	margin-bottom: 40px;
}

section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;

	article {
		width: 23%;
		padding: 30px;
		background: #fff;
		border-radius: 6px;
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
		cursor: pointer;
		transition: 0.5s;

		&:hover {
			background: aqua;

			h2,
			p,
			a {
				color: #fff;
			}
		}
	}
}
